# ============================================
# PROJETOS ESPECÍFICOS
# ============================================

# Chest X-Ray
chest_xray/
chest-xray-pneumonia/

# NLP - RAG Final Project
natural_language_processing/rag/final_project/processed_data/embeddings.npy
natural_language_processing/rag/final_project/processed_data/classificador_setfit/
natural_language_processing/rag/final_project/processed_data/*.png
natural_language_processing/rag/final_project/data/*.html
natural_language_processing/rag/final_project/data/*.htm

# ============================================
# MODELOS E PESOS (GERAL)
# ============================================
*.keras
*.h5
*.safetensors
*.pt
*.pth
*.ckpt
*.bin
.keras


# Checkpoints
checkpoint-*/
**/checkpoint-*/

# ============================================
# DADOS GRANDES (GERAL)
# ============================================
*.csv
data/data.csv

# ============================================
# JUPYTER
# ============================================
**/.ipynb_checkpoints/
.ipynb_checkpoints

# ============================================
# PYTHON
# ============================================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Ambientes virtuais
env/
venv/
ENV/
env.bak/
venv.bak/

# ============================================
# IDEs
# ============================================
.vscode/
.idea/
*.swp
*.swo
*~

# ============================================
# SISTEMA OPERACIONAL
# ============================================
.DS_Store
Thumbs.db

# ============================================
# OUTROS
# ============================================
*.log